.about-container{
    padding-top: 100px;
}
.about-section {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
  flex-wrap: wrap;
  gap: 30px;
  padding: 40px;
}
.about-section .about-image {
  width: 500px;
  height: 400px;
  box-shadow: 0 4px 20px var(--Shadow-color);
  border-radius: 50% 50% 1rem 1rem;
}

.about-section .about-text {
  width: 600px;
}

.about-section .about-text h2 {
  color: var(--Text-color);
  font-size: 2rem;
  margin-bottom: 1rem;
}

.about-section .about-text p {
  color: var(--Text-color);
  font-size: 1.2rem;
  line-height: 1.7;
}

/* Mission Section */
.about-container .mission-video-section {
    width: 100%;
  position: relative;
  height: 500px;
  overflow: hidden;
  margin-top: 3rem;
  border-radius: 1rem;
}
.about-container .mission-video-section video{
    width: 100%;
    object-fit:unset;
}
.about-container .mission-video-section .background-video {
  min-width: 100%;
  height: 100%;
}

 .about-container .mission-video-section .video-overlay {
  position: absolute;
  top: 0;
  left: 0;
background-color: rgba(239, 217, 210, 0.3); /* Warm Beige */
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2rem;
}

.video-overlay h2 {
  font-size: 2.5rem;
  color: var(--Text-color);
  margin-bottom: 1rem;
}

.video-overlay p {
  font-size: 1.2rem;
  color: var(--Text-color);
  max-width: 600px;
  text-align: center;
}
.about-container .text-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin: 50px 0;
}
.about-container .text-section h2{
    font-size: 2.5rem;
    color: var(--Text-color);
}

.about-container .text-section .cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
}

.about-container .text-section .cards .card {
  background-color: var(--Blush-color);
  border-radius: 16px;
  padding: 30px;
  width: 300px;
  box-shadow: 0 4px 10px var(--Shadow-color);
  text-align: left;
  transition: transform 0.3s ease;
}

.about-container .text-section .card:hover {
  transform: translateY(-5px);
}
@media (max-width:426px){
    .about-container .about-section{
        flex-direction: column;
    }
    .about-section .about-image {
        width: 300px;
    }
    .about-section .about-text {
        width: 300px;
    }
    .about-section .about-text h2,.video-overlay h2 ,.about-container .text-section h2{
        font-size: 1.7rem;
    }
    .about-section .about-text p,.video-overlay p{
        font-size: 1rem;
    }
}