
.products-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--LightCream-color);
justify-content: center;
gap: 30px;
padding: 50px 20px;
text-align: center;
}
.products-container .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 5px;
    max-width: 700px;
}
.products-container .text h1{
    color: var(--primary-color);
    font-weight: bold;
    font-size: 36px;
    font-family: 'Playfair Display', serif;

}
.products-container .text h2{
    font-family: 'Lato', sans-serif;
font-size: 28px;
color: var(--Text-color);

}
.products-container .text p{
      font-family: 'Poppins', sans-serif;
font-size: 20px;
color: var(--Text-color);
}
.products-container .cards{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 20px;
}
.products-container .cards .card{
    width: 300px;
    height: 50vh;
    border-radius: 20px;
    box-shadow: var( --Shadow-color);
    background-color: var(--WarmBeige-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--Text-color);
    transition: all 1s ease-in-out;
}

.products-container .cards .card img{
    width: 250px;
    height: 50%;
    margin-bottom: 10px;
    border-radius: 5px;
}
.products-container .cards .card h2{
    font-size: 18px;

}
.products-container .cards .card h1{
    font-size: 20px;
    font-weight: bold;
}
.products-container .cards .card h3{
    font-size: 24px;
    font-weight: bold;
}
.products-container .cards .card:hover{
    background-color: var(--DeepTaupe-color);
    color: white;
    transition: all 1s ease-in-out;
}

